<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiosk.stock.header.mapper.StockHeaderMapper">

    <resultMap id="stockHeaderResultMap" type="com.kiosk.stock.header.DTO.StockHeaderDTO">
        <id property="id" column="id"/>
        <result property="officeName" column="office_name"/>
        <result property="menuName" column="menuName"/>
        <result property="quantity" column="quantity"/>
        <result property="isUse" column="is_use"/>
        <result property="status" column="status"/>
        <result property="lastUpdate" column="last_update"/>
    </resultMap>

	<!-- StockHeader 삽입 -->
    <insert id="insertStockHeader" parameterType="com.kiosk.stock.header.model.StockHeader" 
        useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO orders 
	        (stock_id, status, quantity, last_update)
	    VALUES (
	        (SELECT s.id FROM stock s  <!-- s.id로 명시적으로 지정 -->
	         JOIN office o ON s.office_id = o.id
	         JOIN menu m ON s.menu_id = m.id
	         WHERE o.office_name = #{officeName}
	         AND m.menuName = #{menuName}),
	        #{status},
	        #{quantity},
	        #{lastUpdate}
	    )
	</insert>
	
	<select id="findStockIdByNames" resultType="java.lang.Integer">
	    SELECT s.id 
	    FROM stock s
	    JOIN office o ON s.office_id = o.id
	    JOIN menu m ON s.menu_id = m.id
	    WHERE o.office_name = #{officeName}
	    AND m.menuName = #{menuName}
	</select>
	
    <!-- StockHeader 단건 조회 -->
    <select id="getStockHeaderById" parameterType="int" resultMap="stockHeaderResultMap">
	    SELECT 
	        ODR.id as order_id,
	        OFC.office_name,
	        M.menuName,
	        ODR.quantity,
	        S.is_use,
	        ODR.`status`,
	        ODR.last_update
	    FROM orders ODR
	    JOIN stock S ON ODR.stock_id = S.id
	    JOIN office OFC ON S.office_id = OFC.id
	    JOIN menu M ON S.menu_id = M.id
	    WHERE ODR.id = #{id}
	</select>

    <!-- StockHeader 전체 조회 -->
    <select id="getAllStockHeaders" resultMap="stockHeaderResultMap">
		SELECT 
			ODR.id,
			OFC.office_name,
			M.menuName,
			ODR.quantity,
			S.is_use,
			ODR.`status`,
			ODR.last_update
		FROM
			orders ODR
		JOIN stock S
			ON ODR.stock_id = S.id
		JOIN office OFC
			ON	S.office_id = OFC.id
		JOIN menu M
			ON S.menu_id = M.id
    </select>
    
    <!-- StockHeader 업데이트 -->
    <update id="updateStockHeader" parameterType="com.kiosk.stock.header.model.StockHeaderDAO">
        UPDATE orders
        SET
            `status` = #{status},
			last_update = #{lastUpdate}
        WHERE id = #{id}
    </update>
    
    <!-- 일괄 상태 업데이트 -->
	<update id="updateBulkOrderStatus" parameterType="java.util.List">
	    UPDATE orders
	    SET 
	        status = CASE
	            <foreach collection="list" item="item" separator=" ">
	                WHEN id = #{item.id} THEN #{item.status}
	            </foreach>
	        END,
	        last_update = CASE
	            <foreach collection="list" item="item" separator=" ">
	                WHEN id = #{item.id} THEN #{item.lastUpdate}
	            </foreach>
	        END
	    WHERE id IN
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item.id}
	    </foreach>
	</update>

    <!-- StockHeader 삭제 -->
    <delete id="deleteStockHeader" parameterType="int">
        DELETE FROM orders WHERE id = #{id}
    </delete>

</mapper>
