@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

.pay-button {
    white-space: pre;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

    white-space: nowrap;
}

.container {
    width: 506px;
    height: 778px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 6px;

    max-width: 100%;
    min-width: 300px;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

.BR-logo {
    width: 52px;
    padding: 4px;
    
}

.exit-button {
    padding: 3px;
    margin: 6px;
    width: 22px;
    height: 22px;

    background-color: #F6A9D785;
    border-radius: 50%;
    border: none;
}

.select-text {
    display: flex;
    align-items: center;
    align-content: center;

    width: 506px;
}

.select-text > ul {
    list-style-type: none;

    display: flex;
    justify-content: space-around;

    padding: 0;
    width: 100%;

    margin: 10px 0;
}

.select-text > ul > li {
    font-family: 'NanumSquareNeoBold';
    color: #F20C93;
    cursor: pointer;
    padding: 11px 8px;
    font-size: 9.5px;

    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.select-text > ul > li:hover {
    color: #ffffff;
    background-color: #F20C93;
    border-radius: 50px;
    padding: 11px 18px;
    margin: 0 7px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    
}

.select-icecream {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-icecream > .product {
    font-family: 'NanumSquareNeoBold';
    text-align: center;

    margin: 0 14px;
    padding: 0 14px;

    width: 60px;
}

.select-icecream > .product:hover {
    cursor: pointer;
}

.select-coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-coffee > .product {
    font-family: 'NanumSquareNeoBold';
    text-align: center;

    margin: 0 14px;
    padding: 0 14px;

    width: 60px;
}

.select-coffee > .product:hover {
    cursor: pointer;
}

.select-drink {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-drink > .product {
    font-family: 'NanumSquareNeoBold';
    text-align: center;

    margin: 0 14px;
    padding: 0 14px;

    width: 60px;
}

.select-drink > .product:hover {
    cursor: pointer;
}

.select-drink > .product:first-child > .product-name {
    font-size: 8px;
}

.select-drink > .product:first-child > .product-price {
    margin-top: 1px;
}

.product > img {
    width: 62px;
}

.product > .product-name {
    font-size: 10px;
    padding-bottom: 4px;
    margin:0;
}

.product-price {
    color: #F20C93;
    font-size: 7.5px;
}

.select-next {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 18px;
}

.select-next > .cart {
    padding: 6px 38px;
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    margin-right: 70px;

    position: relative;
}

.select-next > .pay {
    display: flex;
    flex-direction: row;
}

.select-next > .pay > a {
    font-family: 'NanumSquareNeo';
    text-decoration: none;
    
    max-width: 240px;
    width: 200px;
    /*padding: 14px 40px;*/
    font-size: 14px;
    color: #ffffff;

    border: none;
    border-radius: 50px;
    background-color: #F20C93;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button {
    width: 20px;
    padding-top: 3px;
}

.cart-count {
    position: absolute;
    top: -8px; /* 숫자 위치 조정 */
    right: 17px;
    background-color: #F20C93;
    color: white;
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.pay-button {
    max-width: 70px;
}

#paybutton {
    position: relative;
    float:left;
    right: 34px;
}

.arrow-next {
    position: absolute;
    float:left;
    border: none;
    width:100px;
    height:100px;
    margin-right:5px;
}

.arrow-next::after {
    position: absolute;
    left: 122px;
    top: 42px; 
    content: '';
    width: 13px; /* 사이즈 */
    height: 13px; /* 사이즈 */
    border-top: 2.9px solid #ffffff; /* 선 두께 */
    border-right: 2.9px solid #ffffff; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
}