<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiosk.menu.mapper.MenuMapper">

    <!-- [1] 메뉴 등록 -->
    <insert id="insert" parameterType="com.kiosk.menu.model.MenuDAO">
        INSERT INTO menu (menuName, menuCode, imagePath)
        VALUES (#{menuName}, #{menuCode}, #{imagePath})
    </insert>

		<!-- [1-1] 메뉴 등록 후 ID 반환용 (new) -->
	<insert id="insertMenuAndReturnId" parameterType="com.kiosk.menu.model.MenuDAO" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO menu (menuName, menuCode, imagePath)
	    VALUES (#{menuName}, #{menuCode}, #{imagePath})
	</insert>
    <!-- [2] 전체 메뉴 조회 -->
    <select id="selectAll" resultType="com.kiosk.menu.model.Menu">
        select * from menu
    </select>

	<select id="selectAlldto" resultType="com.kiosk.menu.model.MenuDTO">
      SELECT
		M.id,
		M.menuName,
		M.menuCode,
		M.imagePath,
		M.is_use AS isUse
	FROM
		menu M
    </select>

    <!-- [3] 메뉴 수정 -->
    <update id="update" parameterType="com.kiosk.menu.model.Menu">
        UPDATE menu
        SET menuName = #{menuName},
            menuCode = #{menuCode},
            imagePath = #{imagePath}
        WHERE id = #{id}
    </update>
    
    <update id="updateIsUse" parameterType="com.kiosk.menu.model.Menu">
	    UPDATE menu
	    SET is_use = #{isUse}
	    WHERE id = #{id}
	</update>

    <!-- [4] 메뉴 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM menu WHERE id = #{id}
    </delete>
</mapper>