<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiosk.pay.mapper.PayMapper">
  <insert id="insert" parameterType="com.kiosk.pay.model.PayDTO">
    INSERT INTO pay (pay_code, payment_method, payment_status, amount, paid_at)
    VALUES (#{paycode}, #{paymentmethod}, #{paymentstatus}, #{amount}, #{paidat})
  </insert>

  <select id="getAllPay" resultType="com.kiosk.pay.model.Pay">
    SELECT id, pay_code AS paycode,
           payment_method AS paymentmethod, payment_status AS paymentstatus,
           amount, paid_at AS paidat
    FROM pay
    ORDER BY paid_at DESC
  </select>
</mapper>