<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiosk.pay.mapper.PayMapper">
  <insert id="insert" parameterType="com.kiosk.pay.DTO.PayDTO">
    INSERT INTO pay (pay_code, payment_method, payment_status, amount, paid_at, store_location)
    VALUES (#{paycode}, #{paymentmethod}, #{paymentstatus}, #{amount}, #{paidat}, #{storelocation})
  </insert>

  <select id="getAllPay" resultType="com.kiosk.pay.model.Pay">
    SELECT id, pay_code AS paycode,
           payment_method AS paymentmethod, payment_status AS paymentstatus,
           amount, paid_at AS paidat
    FROM pay
    ORDER BY paid_at DESC
  </select>
  
<select id="getPaysBetweenDates" resultType="com.kiosk.pay.model.Pay">
  SELECT id, pay_code AS paycode,
         payment_method AS paymentmethod, payment_status AS paymentstatus,
         amount, paid_at AS paidat
  FROM pay
  WHERE DATE(paid_at) BETWEEN #{fromDate} AND #{toDate}
  ORDER BY paid_at
  <choose>
    <when test="order == 'asc'">ASC</when>
    <otherwise>DESC</otherwise>
  </choose>
</select>

<select id="getAllPayOrdered" resultType="com.kiosk.pay.model.Pay">
  SELECT id, pay_code AS paycode,
         payment_method AS paymentmethod, payment_status AS paymentstatus,
         amount, paid_at AS paidat
  FROM pay
  ORDER BY paid_at
  <choose>
    <when test="order == 'asc'">ASC</when>
    <otherwise>DESC</otherwise>
  </choose>
</select>

<select id="getPaysFiltered" resultType="com.kiosk.pay.model.Pay">
  SELECT id, pay_code AS paycode,
         payment_method AS paymentmethod, payment_status AS paymentstatus,
         amount, paid_at AS paidat
  FROM pay
  <where>
    <if test="date != null and date != ''">
      DATE(paid_at) = #{date}
    </if>
  </where>
  ORDER BY paid_at
  <choose>
    <when test="order == 'asc'">ASC</when>
    <otherwise>DESC</otherwise>
  </choose>
</select>

</mapper>