*{
    margin:0;
    padding:0;
    text-align:center;

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.41px;
}
ul{
    list-style:none;
}
.center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.pink-font{
    color:#F20C93;
}
.gray-font{
    color:#9F9F9F;
}
.white-font{
    color:#FFFFFF;
}
.page{
    width:1024px;
    height:1562px;
    background-color: #A8A8A8;
}
.container{
    width:375px;
    height:675px;
    background-color: #FFFFFF;
    border-radius:26px;
}
.content{
    width:100%
}

/* content - msg */
.msg-wrap{
    margin-top:24px;
    height:149px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.msg-wrap>*{
    display:flex;
    justify-content:center;
    align-items:center;
}
.msg1{
    height:58.5px;
    font-size:25px;
}
.msg2{
    height:58px;
    font-size:17px;
}

/* content - wait */
.waiting-wrap{
    height:93px;
}
.waiting-wrap>*{
    display:flex;
    justify-content:center;
    align-items:center;
}
.waiting-text{
    height:58.5px;
    font-size:22px;
}
.waiting-number{
    height:34px;
    font-size:24px;
}

/* content - point */
.point-wrap{
    margin-top:32px;
    margin-bottom:12px;
    height:244px;
}
.point-container{
    margin:5px;
    width:270px;
    height:220px;
    border:1px solid #F20C93;
    border-radius:26px;
}
.point-header{
    height:100px;
    display:flex;
    align-items:center;
}
.point-header>img{
    margin-left:21px;
    width:42px;
    height:22px;
}
.point-header>p{
    margin-left:53px;
    font-size:18px;
}
.point-main{
    height:40px;
}
.point-footer{
    height:70px;
}

/* content - btns */
.btn-wrap{
    height:133px;
}