@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

.pay-button {
    white-space: pre;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* 변경: height -> min-height */
    white-space: nowrap;
  }

/* 컨테이너 크기 조정 */
.container {
    width: 1024px; /* 변경 */
    height: 1562px; /* 변경 */
    background-color: white;
    padding: 6px;
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

.top {
    display: flex;
    justify-content: space-between;
}

.BR-logo {
    position: relative;
    top: 20px;
    right: -10px;
    width: 104px;
}

.exit-button {
    position: relative;
    top: 20px;
    left: -20px;

    padding: 10px;
    margin: 6px;
    width: 40px;
    height: 40px;

    background-color: #F6A9D785;
    border-radius: 50%;
    border: none;
}

.select-text {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 20px 0px;
    width: 1024px;
}

.select-text > ul {
    list-style-type: none;

    display: flex;
    justify-content: space-around;

    padding: 0;
    width: 100%;

    margin: 10px 0;
}

.select-text > ul > li {
    font-family: 'NanumSquareNeoBold';
    color: #F20C93;
    cursor: pointer;
    font-size: 20px;
    padding: 20px 15px;

    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.select-text > ul > li:hover {
    color: #ffffff;
    background-color: #F20C93;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 0 7px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    
}

.select-icecream {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-icecream > .product {
    font-family: 'NanumSquareNeoBold';
    text-align: center;

    margin: 10px 20px;
    padding: 0 20px;

    width: 160px;
}

.select-icecream > .product:hover {
    cursor: pointer;
}

.product > img {
    width: 130px;
}

.product > .product-name {
    font-size: 19px;
    padding-bottom: 4px;
    margin:0;
}

.product-price {
    color: #F20C93;
    font-size: 16px;
}

.select-next {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 40px;

    width: 800px;
}

.select-next > .cart {
    border: 1px solid #d3d3d3;
    border-radius: 99px;

    position: relative;
    width: 202px;
    height: 100px;
}

.select-next > .pay {
    display: flex;
    flex-direction: row;
}

.select-next > .pay > a {
    font-family: 'NanumSquareNeo';
    text-decoration: none;
    
    width: 384px;
    height: 100px;
    /*padding: 14px 40px;*/
    font-size: 14px;
    color: #ffffff;

    border: none;
    border-radius: 99px;
    background-color: #F20C93;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button {
    position: relative;
    top: 22px;
    left: 80px;
}

.pay-button {
    font-size: 28px;
}

.arrow {
    position: relative;
    left: 90px;
}